@charset "UTF-8";
html{
    font-size: 100%;
}
body{
    color: #000;
    font-family: 'Noto serif JP', serif;
    background-color: #e6e2d7;
}
img{
    max-width: 100%;
    vertical-align: bottom;
}
a{
    text-decoration: none;
    color: #fff;
}
li{
    list-style: none;
}

.site-title a{
    display: block;
}

.site-title{
    line-height: 1px;
    margin-left: 60px;
}

.site-title img{
    width: 40px;
}
.wrapper{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
}
/* headerr */

#header{
    height: 100vh;
    width: 100%;
    background-image: url(../img/mainvisual-pc.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 180px;
    padding: 60px 80px;

    position: relative;

    writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
}
#header .onlinestore{
    position: absolute;
    bottom: 30px;
    left: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px;
}
.onlinestore a{
    display: block;
    border: 1px solid #ccc;
    padding: 30px 18px;
}
#header a:hover{
    opacity: 0.7;
}
#header #nav li{
    margin-left: 25px;
}

/* newsss */
#news .site-title{
    writing-mode: vertical-rl;
    -ms
}
